/* header related styles */
.new-year{
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: 30px 130px 60px 130px;
    background-color: bisque;
    border-radius: 16px;
    background: linear-gradient: #070211;

}
.new-year-div{
    display: block;
    gap: 50px;
}
.new-year-title{
    color: #FFD700;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
    padding-top: 150px;
}

.new-year-party{
    color: #000000;
    text-align: center;
    font-size: 72px;
    margin-top: 15px;
    padding-left: 344px;
    padding-bottom: 200px;
    padding-right: 344px;
}


.offer-class{
    margin-top: 120px;
}

.offer-class{
    background-color: rgb(206, 221, 221);
}
.offer{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
  }

  .offer-holyday{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
  }

  .offer-catagory{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 2px;
    
  }

  .new-year-photo{
    margin-left: 300px;
  }

  .main-column{
    display: flex;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin: 40px;
  }

  .column-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 600px;
    margin: 126px 350px 298px 126px;
    margin-bottom: 0px;
  
}

.column-description{
    color: rgba(255, 255, 255, 0.80);
    font-size: 22px;
    font-weight: 400px;
    margin: 160px 250px 150px 126px;
    margin-top: 20px;
    margin-bottom: 0px;
    
}

.btn-primary{
    margin: 5px 120px 0px 120px;
}